<h1></h1>
<p></p>


<ul>
    <%- for article in @article do %>
    <li>
        <strong><%= link_to article.title, read_path(article_id: article.id) %></strong>
        
        <small>
        Oleh <%= article.created_at.to_s %>
        pada <%= article.user.full_name %>
        </small>
    </li>
    <%- end %>
</ul>
